.main_content {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    gap: 32px;
}

.content_title {
    font: 700 48px/100% "Anonymous Pro", monospace;
}

.content_sneakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 24px;
}

@media (max-width: 1439px) {
    .content_sneakers {
        flex-direction: column;
    }

    .content_title {
        font-size: 32px;
    }
}
